<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
  <hr />
  <div style="text-align:center">
    <table style="width:100%">
      <tr>
        <td><h4>Authors:</h4></td>
        <td><h4>Books:</h4></td>
      </tr>
      <tr>
        <td><input type="button" value="Create New Author" [routerLink]="'/new-author'" class="btn" /></td>
        <td><input type="button" value="Create New Book" [routerLink]="'/new-book'" class="btn" /></td>
      </tr>
      <tr>
        <td><input type="button" value="Author List" [routerLink]="'/authors'" class="btn" /></td>
        <td><input type="button" value="Book List" [routerLink]="'/books'" class="btn" /></td>
      </tr>
    </table>
  </div>
</div>
<hr />
<router-outlet></router-outlet>
<hr />
